.loading {
	background-image: url('http://localhost:8082/images/loader.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	}
.done {
	background-image: url('');
	}
.todo-component {
	margin:20px;
	}
