<div align="center" class="about-container">
    <header class="header">
        <h3>About This Demonstration Application</h3>
    </header>
    <div align="center">
        This is an app created for component testing.<br>
            
        The following things still need to be worked on:
        <div align="left" style="width:50%;">
        <ul>
            <li>Unit Testing</li>
            <li style="text-decoration:line-through;">Field Validation (especially dates!)</li>
            <li style="text-decoration:line-through;">Add summary data to the footer</li>
            <li style="text-decoration:line-through;">Sorting</li>
            <li>Cross Browser Date Picker (Kalendae?)</li>
        </ul>
        </div>
            
    </div>
    <div style="margin-bottom:20px;">
        {{#link-to "tasks"}}<button class="btn">Tasks</button>{{/link-to}}
    </div>
</div>